<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user-red.png"></a>
  </div>
  <div class="user-content">
    <div class="about-text">
      <p><i>Find out more about us</i></p>
      <span>
        <a href="https://github.com/HotelsDotCom" class="github-icon" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/HcomTechnology" class="twitter-icon" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://medium.com/hotels-com-technology" class="medium-icon" target="_blank"><i class="fab fa-medium"></i></a>
      </span>
    </div>
  </div>
</div>
